body {
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

div.main-div {
    height: 100%;
    width: 100%;
    position: relative;
}

div.search-panel {
    position: absolute;
    background-color: #222;
    height: 5%;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 18px;
}

input.search-panel {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 5%;
}

button.search-panel {
    top: 10%;
    right: 5%;
    position: absolute;
    height: 80%;
}

div.menu-panel {
    position: absolute;
    height: 95%;
    width: 7%;
    top: 5%;
    background-color: #222;
}
/*=====================================================*/
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}