@layout-color: #222;
@import "~c3/c3.min.css";

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-height: 950px;
  min-width: 1920px;

  div.main-div {
    height: 100%;
    width: 100%;
    position: relative;

    div.search-panel {
      position: absolute;
      background-color: @layout-color;
      height: 5%;
      width: 100%;
      top: 0;
      left: 0;
      min-height: 18px;

      input.search-panel {
        position: absolute;
        width: 80%;
        height: 80%;
        top: 10%;
        left: 5%;
      }

      button.search-panel {
        top: 10%;
        right: 5%;
        position: absolute;
        height: 80%;
      }
    }

    div.history-panel {
      position: absolute;
      top: 5%;
      left: 10%;
      right: 0;
      height: 95%;
      padding: 1%;
      overflow: auto;

      div {
        a {
          cursor: pointer;
          cursor: hand;
        }
      }
    }

    div.db-panel {
      position: absolute;
      top: 5%;
      left: 10%;
      right: 0;
      height: 95%;
      overflow: hidden;
    }

    div.menu-panel {
      position: absolute;
      height: 95%;
      width: 10%;
      top: 5%;
      background-color: @layout-color;
      padding: 0.5%;

      ul {
        li {
          cursor: pointer;
          cursor: hand;
        }
      }
    }

    div.info-panel {
      position: absolute;
      right: 0;
      height: 95%;
      width: 25%;
      top: 5%;
      padding: 0.5%;

      .chart-panel {
        height: 47%;
        width: 100%;
      }

      .table-panel {
        cursor: pointer;
        padding: 3%;
        width: 100%;

        button {
          float: right;
        }
      }
    }

    div.tree-panel {
      position: absolute;
      top: 5%;
      left: 10%;
      right: 25%;
      height: 95%;

      .panel {
        margin: 5%;
        display: none;
      }

      svg {
        position: absolute;
        width: 100%;
        height: 100%;

        .node {
          cursor: pointer;
        }

        .node circle {
          fill: #fff;
          stroke: steelblue;
          stroke-width: 3px;
        }

        .node text {
          font: 15px sans-serif;
          font-weight: bold;
        }

        .link {
          fill: none;
          stroke: #ccc;
          stroke-width: 2px;
        }
      }
    }
  }

  span#linq-ui-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 9999999;
  }
}

