body {
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
}

body > svg#canvas {
    display: block;
    width: calc(100% - 40px);
    height: 1000px;
    margin: auto;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}